:root {
    --risoRed:#F15060;
    --risoPink:#FF48B0;
    --risoP:#765BA7;
    /*crimson, ivory, hotpink, blanchedalmond, coral*/
}

body {
  background-color: white;
  align-items: center;
  margin-left:50px;
  margin-right:50px;
}

.header {
    display:fixed;
}

header {
    display:fixed;
    background-color:var(--risoP);
    padding:0.1px;
    text-align: center;
    div {
        display:inline-block;
        padding-left:10px;
        padding-right:10px;
        a{color:white;}
    }
}

footer{
    display:fixed;
    background-color:var(--risoP);
    padding:20px;
}

.text{
    width:400px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0px auto;
    p{
        text-align: center;
    }
}

.title {
    width:26%;
    height:298px;
    padding-left: 15px;
    padding-top: 10px;
    background-color:white;
    display: inline-block;
    border: 3px solid var(--risoP);
    h4{
        padding:3.3px;
    }
    h3{
        padding-left:15px;
    }
}

.box {
    width:84%;
    height:298px;
    padding-left: 15px;
    padding-top: 10px;
    background-color:white;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid var(--risoRed);
}
.box2 {
    width:55.9%;
    height:298px;
    padding-left: 15px;
    padding-top: 10px;
    background-color:white;
    display: inline-block;
    border: 3px solid var(--risoRed);
    .content{
    width:95%;}
}

.content{
    height:70%;
    width:96%;
    overflow:auto;
    padding: 10px;
    background-color:white; 
}

.poetry{
    height:70%;
    width:85%;
    overflow:auto;
    padding: 10px;
    background-color:white 
}

.container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:3.3px;
}

ul{
    overflow: auto;
}


h1{
    color:var(--risoPink);
    text-align: center;
}

h2 {
    color:var(--risoPink);
    padding-left: 15px;
}

h3 {
    color:var(--risoPink);
}

h4 {
    color:var(--risoPink);  
}

a {
    color:black;
}

p {
    color: black;
}